<!--
###############################
### MCCT                    ###
###############################
-->

{% extends "base.html" %}

<!-- title -->

{% block head_title %} {{title or "News"}} {% endblock %}

<!-- style -->

{% block head_styles %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('user.static', filename='css/user.css')}}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('user.static', filename='css/news.css')}}"
/>
{% endblock %}

<!-- content -->

{% block content %}
<section class="content">
  <div class="container" style="max-width: 900px">
    <!-- <span class="title">News & Events</span> -->
    <ul
      class="nav nav-tabs"
      id="myTab"
      role="tablist"
      style="padding-top: 3rem"
    >
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="home-tab"
          data-bs-toggle="tab"
          data-bs-target="#home"
          type="button"
          role="tab"
          aria-controls="home"
          aria-selected="true"
        >
          News
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="profile-tab"
          data-bs-toggle="tab"
          data-bs-target="#profile"
          type="button"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
        >
          Events
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="home"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        {% for news in newsList %}
        <div class="g-0 news-item">
          <div class="news-image">
            <img src="{{news.thumbnail_url}}" class="img-fluid rounded-start" />
          </div>
          <div class="card-body news-body">
            <h5 class="card-title">{{news.title}}</h5>
            <p class="card-text">
              <small class="text-muted">{{news.updated_at}}</small>
            </p>
            <p class="card-text">{{news.preview}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <div
        class="tab-pane fade"
        id="profile"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        {% for event in eventList %}
        <div class="g-0 news-item">
          <div class="news-image">
            <img
              src="{{event.thumbnail_url}}"
              class="img-fluid rounded-start"
            />
          </div>
          <div class="card-body news-body">
            <h5 class="card-title">{{event.title}}</h5>
            <p class="card-text">
              <small class="text-muted">{{event.updated_at}}</small>
            </p>
            <p class="card-text">{{event.preview}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
