<!--
###############################
### MCCT                    ###
###############################
-->

{% extends "base.html" %}

<!-- title -->

{% block head_title %} {{title or "MCCT"}} {% endblock %}

<!-- style -->

{% block head_styles %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('user.static', filename='css/user.css')}}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('user.static', filename='css/home.css')}}"
/>
{% endblock %}

<!-- content -->

{% block content %}
<section class="content">
  <!-- Carousel -->
  <div id="demo" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="0"
        class="active"
      ></button>
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="1"
      ></button>
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="2"
      ></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="{{url_for('user.static', filename='image/bannerlogo.bef81a68.png')}}"
          alt="placeholder"
          class="d-block"
          style="width: 100%; height: 625px; object-fit: contain"
        />
      </div>
      <div class="carousel-item">
        <img
          src="{{url_for('user.static', filename='image/bannerlogo.bef81a68.png')}}"
          alt="placeholder"
          class="d-block"
          style="width: 100%; height: 625px; object-fit: contain"
        />
      </div>
      <div class="carousel-item">
        <img
          src="{{url_for('user.static', filename='image/bannerlogo.bef81a68.png')}}"
          alt="placeholder"
          class="d-block"
          style="width: 100%; height: 625px; object-fit: contain"
        />
      </div>
    </div>

    <!-- Left and right controls/icons -->
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#demo"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#demo"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
  <div class="intro">
    <div class="title_box">
      <span class="title">VIEW FROM THE CHAIR</span>
    </div>
    <div class="title_content col-6 row container">
      <img
        src="{{url_for('user.static', filename='image/img01.42d12bee.jpg')}}"
        alt="placeholder"
        class="col"
        style="width: 400px; height: 546px"
      />
      <div class="col">
        <div class="index_introduce_con">
          <p>
            In 2006 when we applied to the New Zealand government to register as
            a non-profit charitable community trust, we were a group of new
            immigrants from mainland China arriving after 1990's. We speak
            mandarin.
          </p>
          <p>
            It will soon have been 14 years since the establishment of the
            Manawatu Chinese Community Trust. During these 14 years we have
            conformed to the core objective of promoting non-profit culturally
            significant service to the Chinese community, through the promotion
            of culture and communication, participation in community services,
            community education and research, so as to establish and
            develop&nbsp;each and every activity (service) entry point in
            accordance with the New Zealand government's and each charitable
            trust fund's application processes, enabling community volunteers to
            achieve satisfactory performance while actively promoting the best
            results for the community.
          </p>
          <p>
            We cooperate with other Chinese community groups in and out of the
            region, work with other ethnic organizations, local government and
            agencies. Our goal is to open to the whole world to enable people
            from all walks of life to prosper and grow.
          </p>
          <p>
            2006年, 当我们向新西兰政府申请注册为非营利慈善社区信托时,
            我们是一群来自中国大陆的90年代后新移民。我们说普通话。
          </p>
          <p>
            马那瓦图华人社区信托基金成立14年了。在这14年里,
            我们一直致力于通过促进文化和交流、参与社区服务、社区教育和研究,
            为华人社区提供非营利的文化服务,
            以便根据新西兰政府和各慈善信托基金的申请流程,
            建立和发展每一项活动（服务）的切入点,
            使社区志愿者在积极推动社区取得最佳成果的同时, 取得令人满意的成绩。
          </p>
          <p>
            我们与该地区内外的其他华人社区团体合作,
            与其他民族组织、地方政府和机构合作。我们的目标是向全世界开放,
            让各行各业的人都能繁荣发展。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
